 <!-- jQuery Version 1.11.0 -->
    <script src="{{ "/javascripts/jquery.js" | prepend: site.baseurl }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/javascripts/bootstrap.min.js" | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/javascripts/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
    
    <!-- Custom Theme JavaScript -->
    <script src="{{ "/javascripts/main.js" | prepend: site.baseurl }}"></script>

    <!-- Navbar Animation -->
    <script src="{{ "/javascripts/navbar.js" | prepend: site.baseurl }}"></script>