<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="stylesheets/main.css">
</head>

<body>
<input type="checkbox" id="menu-toggle"/>
<label for="menu-toggle" class="menu-icon">&#9776;</label>
    
<header>
    <div id="brand"><a href="{{ "/" | prepend:site.baseurl }}">Regina Xu</a></div>
</header>

<div class="menu">
    <ul>
        <li><a href="{{ "/about" | prepend:site.baseurl }}">About</a></li>
          <li><a href="{{ "/projects" | prepend:site.baseurl }}">Projects</a></li>
          <li><a href="{{ "/work" | prepend:site.baseurl }}">Work</a></li>
    </ul>
</div>

</body>
