html, body {
    width: 100%;
    height: 100%;
    font-family: "Lato",sans-serif;    
    margin-bottom: 300px;
}
p, h1, h2, h3, h4 {
    font-family: "Merriwhether";
    margin: 0 0 25px;
    font-size: 14px;
    line-height: 1.5;
}
a {
    color: {{ site.color.links }};
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.content, #container {
    padding-left: 18.62%;
    padding-right: 18.62%;
    margin: auto;
}
/* Navbar */
header {
    padding: 68.25px;
    width: 100%;
    height: 40px;
    margin: auto;
}
#brand {
    padding: 10px;
    padding-left: 5px;
}
#brand a { 
    text-decoration: none; 
    line-height: 50px;
    font-size: 1.2rem;
    font-weight: bolder;
}
#brand a:hover{ color: #bdbdbd; }

/* Pop-up Menu */
.menu ul li {
    font-weight: bolder;
    font-size: 0.8rem;
    list-style: none;
    color: #3F3F3F;
}
.menu a {
    margin-bottom: 5px;
    text-decoration: none;
    display: block;
}
.menu a:hover { color:#bdbdbd; }
.menu {
    padding-left: 85px;
    width: 100%;
    left: -100%;
    position: absolute;
    overflow: hidden;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}
.menu-icon {
    color: #3F3F3F; 
    cursor: pointer;
    float: left;
    line-height: 50px;
    margin-right: 10px;
    padding: 10px;
}
#menu-toggle { display: none; }
#menu-toggle:checked ~ .menu {
    position: absolute;
    left: 0;
}
/* Social Media Icons */
.icons {
    display:block;
}
.icons a {
    padding-left: 18.5%;
    text-decoration: none;
    display: table;
}

/* Home page */
.intro {
    padding-top: 10%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.intro a {
    text-decoration: none;
}
/*#intro-pic div {
    background: rgba(0, 0, 0, 0) url("../images/profile.jpg") no-repeat scroll 20px 0px / cover ;
    display: block;
    height: 200px;
    width: 200px;
}*/
/* Projects section */
ul.img-list li:hover span.text-content {
    opacity: 1;
}
ul.img-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.img-list li {
    display: inline-block;
    width: 250px;
    height: 200px;
    margin: 0 1em 1em 0;
    position: relative;

}
span.text-content {
    background: rgba(0,0,0,0.5);
    color: white;
    display: table;
    width: 250px;
    height: 200px;
    top: 0;
    opacity: 0;
    left: 0;
    position: absolute;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/* Resume tab */
/*.course-title {
    text-decoration: none;
}
.course-num {
    background-color: #bdbdbd;
    opacity: 0.1;
    display: none;
}
.course-title:hover + .course-num {
    display: block;
}*/

/* Interests section */
.row {
    margin-left: -0.875rem;
    margin-right: -0.875rem;
}
.vertical-offset {
    padding-top: 7.5rem;
}
.padding-large {
    padding: 4rem 0;
}
.item {
    width: 15em;
    height: 25em;
    margin: 1.5%;
    border: 2px solid #d1d1e0;    
    display: inline-block;
}
.item a {
    text-decoration: none;
}
.item p {
    padding-top: 5%;
    color: #2a2a2a;
}
.image {
    background-position: center center;
    background-size: cover;
    padding-top: 75%;
    width: 100%;
}
.only-description {
    background-position: center center;
    background-size: cover;
    padding-top: 75%;
    width: 100%;
}
.description {
    min-height: 11.25rem;
    padding: 1rem;
    position: relative;
}
.description {
    box-sizing: content-box;
    min-height: 11.25rem;
    padding: 1rem;
    position: relative;
}
.button-group {
    margin-left: -0.25rem;
    margin-right: -0.25rem;
}

.button-small {
    border-width: 0.0675rem;
    padding: 0.125rem 0.5rem;
}
.button.design {
    border-color: #d1d1e0;
    color: #d1d1e0;
}
.button.design div {
    font-size:inherit;
}
.button a {
    font-size: inherit;
}
.button {
    position: relative;
    margin: 0 0.25rem;
    padding: 0.5rem 0.75rem;
    letter-spacing: 0.0625em;
    text-transform: uppercase;
    border: 0.125rem solid;
    border-radius: 0.4rem;
    font-size: 0.85rem;
}
.button-group {
    margin-left: -0.25rem;
    margin-right: -0.25rem;
}
.tags {
    bottom: 1rem;
    position: absolute;
}
#typed-cursor {
    animation: 0.7s ease 0s normal none infinite running blink;
    font-weight: 100;
    opacity: 1;
}

/* CS 61A section */

.cs61a ul li {
    text-decoration: none;
    font-size: inherit;
    list-style: none;
    color: #3F3F3F;
}
.post {
    margin-top: 15px;
    background-color: #FFF;
    padding: 3%;
    border: 1px solid #CCC;
}
.post-title {
    font-weight: 500;
    font-size: 1.125rem;
}
.post-text {
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.5rem;
    margin-top: 2%;
}