/* BASE */
html, p, h1, h2, h3, h4 {
  font-family: "Source Sans Pro","Helvetica Neue",sans-serif;
  margin: 0 0 25px;
  letter-spacing: 0px;
  font-style: normal;
  vertical-align: baseline;
  font-size: 15px;
  color: #2a2a2a;
  line-height: 1.5;
}
body {
  font-size: 0.9rem;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  display: block;
  background-image: none;
  background-size: auto auto;
  background-attachment: scroll;
  background-repeat: repeat;
  background-color: #FFF;
  color: #777;
  margin: 0px;
  padding: 0px;
  font-family: "Lato",sans-serif;    
}
.content {
  margin: 0px auto;
  width: 100%;
}
a {
  color: {{ site.color.links }};
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
#container {
  padding-left: 18.62%;
  padding-right: 18.62%;
  margin: auto;
}
#content-wrapper1 {
  padding-left: 18.62%;
  padding-right: 18.62%;
  width: 100%;
  height: auto;
  background: #ffffff;
}
#content-wrapper2 {
  padding-left: 18.62%;
  padding-right: 18.62%;
  color: inherit;
  height: auto;
  background-color: #FFF;
  padding: 20px 0px 40px;
  margin: 35px auto;
  box-shadow: 0px 0px 10px #BFBEBA;
}
#object {
  background-color: inherit;
  overflow: hidden;
  width: 100%;
  padding: 5rem 0 2em 0;
  text-align: left;
}
/* NAVBAR */
#brand a { 
  display: block;
  text-decoration: none; 
  line-height: 1.5;
  font-size: 1.8rem;
  font-weight: bolder;
}
#brand a:hover{ color: #E68580; }
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
#header-wrapper {
  padding: 3em 0em;
}
nav ul li:hover:after {
  border: 1px solid #2a2a2a;
  border-radius: 4px;
}
nav a i:hover, nav a i:active { 
  -webkit-transform:scale(1.4); /* Safari and Chrome */
  -moz-transform:scale(1.4); /* Firefox */
  -ms-transform:scale(1.4); /* IE 9 */
  -o-transform:scale(1.4); /* Opera */
   transform:scale(1.4);
}

nav a:hover, nav a:active { color:#bdbdbd; }
nav li {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 0.8rem;
}
nav li:last-child a {
  border-right: 0;
  border-bottom: 0;
}
nav a#pull {
    display: none;
} 
nav a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #2a2a2a;
  margin: 12px;

}
nav li a {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
nav ul li {
  list-style-type: none;
  overflow: hidden;
  color: #ffffff;
}
nav ul {
  text-align: center;
  padding: 0;
  margin: 0 auto;
}
@media only screen and (max-width : 600px) {
  nav {
    border-bottom: 0;
  }
  nav ul {
    display: none;
    height: auto;
  }
  nav a#pull {
    display: block;
    background-color: #FFF;
    width: 100%;
    position: relative;
  }
  nav a#pull:after {
    content:"";
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 10px;
  }
  nav li {
    display: block;
    float: none;
    width: 100%;
  }
  nav li a {
    border-bottom: 1px solid #bdbdbd;
  }
}
/* HOME PAGE */
.intro {
    padding-top: 10%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.intro a {
  text-decoration: none;
}
.intro p {
  font-size: 0.97rem;
}
.intro-pic {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin: auto;
  padding: auto;
}
.intro-pic div {
    background: rgba(0, 0, 0, 0) url("../images/profile.jpg") no-repeat scroll 20px 0px / cover ;
    width: 150px;
    height: 200px;
}
/* Projects section */
.button-link {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 10px 15px;
  background: #bdbdbd;
  color: #FFF;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.button-link:active {
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  background: #696969;
}
.button-link:hover, .button-link:focus {
  background: #696969;
  text-decoration: none;
}
.wrapper img {
  display: block;
  max-width: 100%;
  height: auto;
  -webkit-transition: all 1s ease; /* Safari and Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -ms-transition: all 1s ease; /* IE 9 */
  -o-transition: all 1s ease; /* Opera */
  transition: all 1s ease;
}
.wrapper:hover img {
  -webkit-transform:scale(1.4); /* Safari and Chrome */
  -moz-transform:scale(1.4); /* Firefox */
  -ms-transform:scale(1.4); /* IE 9 */
  -o-transform:scale(1.4); /* Opera */
   transform:scale(1.4);
}
.thumb img {
  -webkit-transform:scale(1.18); /* Safari and Chrome */
  -moz-transform:scale(1.18); /* Firefox */
  -ms-transform:scale(1.18); /* IE 9 */
  -o-transform:scale(1.18); /* Opera */
   transform:scale(1.18);
  height: 200px;
  width: 300px;
  overflow: hidden;
}
.wrapper:hover span.text-content {
  opacity: 1;
}
.wrapper span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  display: table;
  width: 300px;
  height: 200px;
  top: 0;
  opacity: 0;
  left: 0;
  position: absolute;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}
.wrapper span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.col-sm-4, .col-xs-12 {
  margin: 8.25px;
  display: inline-block;
  float: left;
  position: relative;
  min-height: 1px;
}
.wrapper {
    margin-top: 6%;
    overflow: hidden;
    position: relative;
    padding: 0px;
}
/* Interests section */
.row {
    margin-left: -0.875rem;
    margin-right: -0.875rem;
}
.vertical-offset {
    padding-top: 7.5rem;
}
.padding-large {
    padding: 4rem 0;
}
.item {
    transition: box-shadow 0.25s ease 0s;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    border-radius: 2px;
    width: 18.25rem;
    height: auto;
    margin: 1.5%;
    border: 2px solid #d1d1e0;    
    display: inline-block;
}
.item a {
    text-decoration: none;
}
.item p {
    padding-top: 5%;
    color: #2a2a2a;
}
.image {
    background-position: center center;
    background-size: cover;
    padding-top: 75%;
    width: 100%;
    height:35px;
}
.only-description {
    background-position: center center;
    background-size: cover;
    padding-top: 75%;
    width: 100%;
}
.description {
    min-height: 11.25rem;
    padding: 1rem;
    position: relative;
}
.button-group {
    margin-left: -0.25rem;
    margin-right: -0.25rem;
}

.button-small {
  position: relative;
  border-width: 0.0675rem;
  padding: 0.125rem 0.5rem;
}
.button.design {
    border-color: #d1d1e0;
    color: #d1d1e0;
}
.button.design div {
    font-size:inherit;
    position: relative;
}
.button {
  background-color: transparent;
  margin: 0 0.25rem;
  padding: 0.5rem 0.75rem;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
  border: 0.125rem solid;
  border-radius: 0.4rem;
  font-size: 0.8rem;
}
.tags {
    bottom: 1rem;
    position: absolute;
}
#typed {
    display:inline;    
    width: 30em;
    white-space:owrap;
    overflow:hidden;
    -webkit-animation: type 5s steps(50, end);
    animation: type 5s steps(50, end);
}
@keyframes type{
    from { width: 0; }
}

@-webkit-keyframes type{
    from { width: 0; }
}
/* CS 61A section */

.cs61a ul li {
    text-decoration: none;
    font-size: inherit;
    list-style: none;
    color: #3F3F3F;
}
.post {
    margin-top: 15px;
    background-color: #FFF;
    padding: 3%;
    border: 1px solid #CCC;
}
.post-title {
    font-weight: 500;
    font-size: 1.125rem;
}
.post-text {
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.5;
    margin-top: 2%;
}
